.header {
    display: flex;
}

.text {
    margin: 0;
    display: inline;
}

.text-right {
    margin: 0;
    display: inline;
    float: right;
}

.label {
    font-size: 20px;
}

.patientInfo {
    font-size: 20px;
}
